.slaider-1.owl-drag .owl-item {
	display: flex;
	justify-content: center;
}
.c_roadmap-line::before {
	left: 15px;
}
.slaider-1 {
	width: 100%;
    max-width: 1050px;
    margin: auto;
}
.slaider {
	width: 100%;
    max-width: 1050px;
    margin: auto;
}
.slaider-team {
	width: 100%;
	max-width: 1120px;
	margin: auto;
}
.slaider-team .c_why-photo {
	width: 100%;
	margin: 0;
}

.slaider-team .owl-stage .owl-item {
	
}

.slaider .owl-stage-outer {
	z-index: 2;
}
.slaider .owl-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 0;
}

.slaider .owl-nav button.owl-next{
    right: calc(50% - 10px);
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.slaider .owl-nav button.owl-next::after{
	content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider .owl-nav button.owl-prev{
    right: calc(50% - 10px);
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.slaider .owl-nav button.owl-prev::after{
	content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider-1 .owl-stage-outer {
	z-index: 2;
}
.slaider-1 .owl-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 0;
}

.slaider-1 .owl-nav button.owl-next{
    right: calc(50% - 10px);
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -75px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.slaider-1 .owl-nav button.owl-next::after{
	content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
    margin: auto;
}

.slaider-1 .owl-nav button.owl-prev{
    right: calc(50% - 10px);
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -95px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.slaider-1 .owl-nav button.owl-prev::after{
	content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: -20px;
    bottom: 0;
    margin: auto;
}

.slaider-team .owl-stage-outer {
    z-index: 2;
}
.slaider-team .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 0;
}

.slaider-team .owl-nav button.owl-next{
    right: calc(50% - 10px);
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.slaider-team .owl-nav button.owl-next::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider-team .owl-nav button.owl-prev{
    right: calc(50% - 10px);
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.slaider-team .owl-nav button.owl-prev::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.c_roadmap-line.slick-current.active::before, .c_roadmap-line.active:hover::before {
    border-color: #d1b603;
}
.c_roadmap-box {
    display: none;
}
.c_roadmap-box.slick-current {
    display: block;
}
.box-2010, .box-2011, .box-2012, .box-2013, .box-2014, .box-2015, .box-2016, .box-2017, .box-2018 {
    display: none;
}

.wrap-main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    position: relative;
}

.wrap-main-block::before {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 350px;
    background-color: rgba(255, 255, 255, .15);
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
}
.main-b1, .main-b2 { width: 50%; padding: 50px;}
.main-b2 {margin-top: 50px;}
.main-b1 h4{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}


.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 380px;
    margin: auto;
}

.timer span{
  font-size: 42px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.timer p{
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.timer div {
    text-align: center;
    position: relative;
}
.wp_ref_op {
    text-align: center;
    margin: 40px 0;
}
.wp_ref_op a{
    margin: 0 15px;
    text-transform: uppercase;
}
.mg-t-3 {margin-top: 3em;}
.mg-t-5 {margin-top: 5em;}
.c_faq-btn {text-decoration: none;}

.timer b{
    position: absolute;
    right: -32px;
    font-size: 42px;
    font-weight: 300;
}

.progressbar {
    width: 100%;
    max-width: 450px;
    height: 40px;
    position: relative;
    background-color: rgb(36, 90, 224);
    border-radius: 2px;
    box-shadow: 0px 10px 33.82px 4.18px rgba(27, 61, 146, 0.2);
    margin: auto;
    display: flex;
    align-items: center;
}
.progressbar p { margin: 0 25px; position: relative; z-index: 2; }
.b2-txt {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin: auto;
    margin-bottom: 15px;
    padding: 0 10px;
}
.b2-txt p {position: relative;}
.b2-txt p::before {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 5px;
    background-color: #ffffff;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
}

.progressbar p{

}

.progressbar::before {
  content: '';
  display: block;
  background-color: rgb(52, 106, 241);
  position: absolute;
  width: 28%;
  height: 100%;
  left: 0;
  top: 0;
}
.b2-txt.sec p::before {
    display: none;
}
.b2-txt.sec {margin-top: 15px;}

.token_price {
    max-width: 450px;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    position: relative;    
}
.tp-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.token_price h4{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 10px;
}
.tp-bonus {
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
  color: #ffffff
}
.tp-bonus span {
  color: rgb(208, 125, 5);
}
.tp-date {
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}
.token_price::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -18px;
    width: 10px;
    height: 10px;
    border: 6px solid transparent;
    border-bottom: 12px solid rgba(0, 0, 0, .3);
}

.widgets {
    width: 100%;
    max-width: 766px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.bg-team-advisor{
    background: url(/img/bg-team.png) no-repeat right center;
    background-size: 70%;
}
.bg-team-advisor-2 {
    background: url(/img/bg-team-2.png) no-repeat left bottom;
    background-size: 30%;  
}

.bg-faq {
    background: url(/img/bg-sky-1.jpg) no-repeat center;
    background-size: 100%;    
}
.bg-faq-2 {
    background: url(/img/bg-plans.png) no-repeat center;
    background-size: 40%;
}
.bg-footer {
    background: url(/img/bg-footer.jpg) no-repeat left bottom -396px;
    background-size: 100%;
}


/******плавное появление текста******/
.main-h1-b1 .main-h1-b1_new { opacity: 0; }
.main-h1-b1 .main-h1-b1_opacity {
  -webkit-transition: opacity 1.7s ease-in-out;
  -moz-transition: opacity 1.7s ease-in-out;
  -ms-transition: opacity 1.7s ease-in-out;
  -o-transition: opacity 1.7s ease-in-out;
  transition: opacity 1.7s ease-in-out;
  opacity: 1;
}
/******плавное появление текста******/

