.slaider-1.owl-drag .owl-item {
	display: flex;
	justify-content: center;
}
.c_roadmap-line::before {
	left: 15px;
}
.slaider-1 {
	width: 100%;
    max-width: 1050px;
    margin: auto;
}

.d-index:before {z-index: 20 !important;}
.slaider {
	width: 100%;
    max-width: 1050px;
    margin: auto;
}
.slaider-team {
	width: 100%;
	max-width: 1050px;
	margin: auto;
}
.slaider-team .c_why-photo {
	width: 100%;
	margin: 0;
}

.slaider-team .owl-stage .owl-item {
	
}

.slaider .owl-stage-outer {
	z-index: 2;
}
.slaider .owl-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 0;
}

.slaider .owl-nav button.owl-next{
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -40px;
    top: 75px;
    bottom: 0;
}
.slaider .owl-nav button.owl-next::after{
	content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider .owl-nav button.owl-prev{
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -40px;
    top: 75px;
    bottom: 0;
}
.slaider .owl-nav button.owl-prev::after{
	content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider-1 .owl-stage-outer {
	z-index: 2;
}
.slaider-1 .owl-nav {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 0;
}

.slaider-1 .owl-nav button.owl-next{
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -33px;
    top: 38px;
    bottom: 0;
}
.slaider-1 .owl-nav button.owl-next::after{
	content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
    margin: auto;
}

.slaider-1 .owl-nav button.owl-prev{
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -50px;
    top: 38px;
    bottom: 0;
}
.slaider-1 .owl-nav button.owl-prev::after{
	content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: -20px;
    bottom: 0;
    margin: auto;
}

.slaider-team .owl-stage-outer {
    z-index: 2;
}
.slaider-team .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 0;
}

.slaider-team .owl-nav button.owl-next{
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -45px;
    top: 75px;
    bottom: 0;
}
.slaider-team .owl-nav button.owl-next::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider-team .owl-nav button.owl-prev{
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -45px;
    top: 75px;
    bottom: 0;
}
.slaider-team .owl-nav button.owl-prev::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.c_roadmap-line.slick-current.active::before, .c_roadmap-line.active:hover::before {
    border-color: #d1b603;
}
.c_roadmap-box {
    display: none;
}
.c_roadmap-box.slick-current {
    display: block;
}
.box-2010, .box-2011, .box-2012, .box-2013, .box-2014, .box-2015, .box-2016, .box-2017, .box-2018 {
    display: none;
}

.wrap-main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    position: relative;
    transition: 1s;
    opacity: 0;
}
.wrap-main-block.act-new {
    opacity: 1;
}
.wrap-main-block::before {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 350px;
    background-color: rgba(255, 255, 255, .15);
    left: 0;
    right: 0;
    top: 100px;
    margin: auto;
}
.main-b1, .main-b2 { width: 50%; padding: 50px;}
.main-b2 {margin-top: 50px;}
.main-b1 h4{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}


.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 380px;
    margin: auto;
}

.timer span{
  font-size: 42px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.timer p{
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.timer div {
    text-align: center;
    position: relative;
}
.wp_ref_op {
    text-align: center;
    margin: 40px 0;
}
.wp_ref_op a{
    margin: 0 15px;
    text-transform: uppercase;
}
.mg-t-2 {margin-top: 2em;}
.mg-t-3 {margin-top: 3em;}
.mg-t-5 {margin-top: 5em;}
.c_faq-btn {text-decoration: none;}

.timer b{
    position: absolute;
    right: -32px;
    font-size: 42px;
    font-weight: 300;
}

.progressbar {
    width: 100%;
    max-width: 450px;
    height: 40px;
    position: relative;
    background-color: rgb(36, 90, 224);
    border-radius: 2px;
    box-shadow: 0px 10px 33.82px 4.18px rgba(27, 61, 146, 0.2);
    margin: auto;
    display: flex;
    align-items: center;
}
.progressbar p { margin: 0 25px; position: relative; z-index: 2; }
.b2-txt {
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    margin: auto;
    margin-bottom: 15px;
}
.b2-txt p {position: relative;}
.b2-txt p::before {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 5px;
    background-color: #ffffff;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
}

.progressbar p{

}

.progressbar::before {
  content: '';
  display: block;
  background-color: rgb(52, 106, 241);
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  transition: 2s;
}
.progressbar.act-new::before {
  content: '';
  display: block;
  background-color: rgb(52, 106, 241);
  position: absolute;
  width: 28%;
  height: 100%;
  left: 0;
  top: 0;
}
.b2-txt.sec p::before {
    display: none;
}
.b2-txt.sec {margin-top: 15px;}

.token_price {
    max-width: 450px;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 3px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    position: relative;    
}
.tp-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.token_price h4{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 10px;
}
.tp-bonus {
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
  color: #ffffff
}
.tp-bonus span {
  color: rgb(208, 125, 5);
}
.tp-date {
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}
.token_price::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -18px;
    width: 10px;
    height: 10px;
    border: 6px solid transparent;
    border-bottom: 12px solid rgba(0, 0, 0, .3);
}

.widgets {
    width: 100%;
    max-width: 766px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto 0;
    transition: 1s;
    opacity: 0;
}
.widgets.act-new {
    opacity: 1;
}
.bg-team-advisor{
    background: url(/img/bg-team.png) no-repeat right center;
    background-size: 70%;
}
.bg-team-advisor-2 {
    background: url(/img/bg-team-2.png) no-repeat left bottom;
    background-size: 30%;  
}
.bg-team-advisor-3 {
    background: url(/img/bg-team-3.png) no-repeat center;
    background-size: 100%;  
}

.bg-faq {
    background: url(/img/bg-sky-1.jpg) no-repeat center;
    background-size: 100%;    
}
.bg-faq-2 {
    background: url(/img/bg-plans.png) no-repeat center;
    background-size: 40%;
}
.bg-footer {
    background: url(/img/bg-footer.jpg) no-repeat left bottom -396px;
    background-size: 100%;
}


/******плавное появление текста******/
.main-h1-b1 .main-h1-b1_new { opacity: 0; }
.main-h1-b1 .main-h1-b1_opacity {
  -webkit-transition: opacity 1.7s ease-in-out;
  -moz-transition: opacity 1.7s ease-in-out;
  -ms-transition: opacity 1.7s ease-in-out;
  -o-transition: opacity 1.7s ease-in-out;
  transition: opacity 1.7s ease-in-out;
  opacity: 1;
}
/******плавное появление текста******/

/******плавное появление bg******/
.header-bg{
      position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  max-width: 1829px;
  height: 877px;
  background: url('/img/bg-arka.png') center no-repeat;
  background-size: cover;
  z-index: 8;
  transition: 1s;
  opacity: 0;
  transform: scale(.1,.1);
}
.header-bg:after{
    position: absolute;
  top: 100px;
  left: calc(50% - 914px);
  width: 100%;
  max-width: 1829px;
  height: 877px;
  background: url('/img/bg-arka.png') center no-repeat;
  background-size: cover;
  z-index: 8;
  opacity: 0;
}

.header-bg.header-bg-load {
    opacity: 1;
    transform: scale(1,1);
}
.h_desc {
    opacity: 0;
    transition: 1.5s;
    position: absolute;
    left: 0;
    right: 0;
}
.h_desc.act-new {
    opacity: 1;
    top: 90px;
}

.main-h1-b1 {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    transition: .7s;
}
.header-bg {
}
.h_middle h1 {
    max-width: 630px;
}

.bg-header {
    position: absolute;
    width: 100%;
    height: 1300px;
    background: url('/img/bg-head.jpg') center top no-repeat;
}

.h_middle {
    position: relative;
}
.h_graf {
    margin-top: 145px;
}

.hidden{
     opacity:0;
}
.visible{
     opacity:1;
}


.c_what-indust::before {
	max-width: 753px;
	width: 100%;
}
.c_why-gallery {
	width: 100%;
}
.c_roadmap-list::before {
	width: 85%;
	left: 96px;
}


#main_nav {
	position: absolute;
	right: 0;
	top: 14px;
	display: none;
}

.btn-menu img{
	width: 38px;
	height: auto;
}
#main_nav li{
	display: inline;
	padding: 0 8px;
	border-left: 1px dotted #8b6619;
	position: relative;
	z-index: 2;
	margin: 0;
}
#main_nav li:first-child, #main_nav ul li {
	border-left: none;
}
#main_nav ul {
	display: none;
	position: absolute;
	top: 19px;
	left: 0;
	z-index: 1;
	width: 155px;
}
#main_nav li a, #main_nav li ul li a{
}
#main_nav li a:hover,
#main_nav li ul a:hover {
	color: black;
}

#main_nav li:hover ul {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 30px;
	left: -109px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 15px 0;
}

.h_signin {
	margin-top: -5px;
    text-align: center;
    padding: 0;
    position: absolute;
    right: 65px;
}
.h_top {margin-bottom: 50px;}
.h_middle {padding-top: 40px; padding-bottom: 0;}
.h_box {
	display: flex;
	justify-content: space-around;
}
.h_nav {
	width: auto;
}
.h_nav li {cursor: pointer;}
.slaider-team-list.owl-carousel, .slaider-team-list-2.owl-carousel {
	display: none;
}
.open-slaider {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -ms-align-items: flex-start;
    align-items: flex-start;
    background-color: rgba(30, 36, 85, .4);
    border: 3px solid rgba(56, 64, 127, .4);
    margin-top: 55px;
}

.c_structure-list {
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    margin-left: 270px;
}
.c_structure-list p {
	position: relative;
}
.c_structure-list p::before{
	content: '';
	display: block;
	position: absolute;
	border-radius: 3px;
	width: 22px;
	height: 22px;
	left: -30px;
	top: 0;
}
.check-token-1::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 3px;
	width: 22px;
	height: 22px;
	left: -30px;
	top: 0;
	background-color: rgb(247, 148, 29);
}

.check-token-2::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 3px;
	width: 22px;
	height: 22px;
	left: -30px;
	top: 0;
	background-color: rgb(65, 58, 138);
}

.check-token-3::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 3px;
	width: 22px;
	height: 22px;
	left: -30px;
	top: 0;
	background-color: rgb(145, 11, 207);
}

.check-token-4::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 3px;
	width: 22px;
	height: 22px;
	left: -30px;
	top: 0;
	background-color: rgb(236, 0, 140);
}

.check-token-5::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 3px;
	width: 22px;
	height: 22px;
	left: -30px;
	top: 0;
	background-color: rgb(215, 215, 215);
}

.check-token-6::before {
	content: '';
	display: block;
	position: absolute;
	border-radius: 3px;
	width: 22px;
	height: 22px;
	left: -30px;
	top: 0;
	background-color: #953735;
}
.check-token-7::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    left: -30px;
    top: 0;
    background-color: #cb711c;
}
.check-token-8::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 3px;
    width: 22px;
    height: 22px;
    left: -30px;
    top: 0;
    background-color: #4f81bd;
}


#main_nav-2 {
	display: none;
}

#main_nav-2 {
	position: absolute;
	right: 0;
	top: 22px;
	display: none;
}

#main_nav-2 li{
	display: inline;
	padding: 0 8px;
	border-left: 1px dotted #8b6619;
	position: relative;
	z-index: 2;
	margin: 0;
}
#main_nav-2 li:first-child, #main_nav-2 ul li {
	border-left: none;
}
#main_nav-2 ul {
	display: none;
	position: absolute;
	left: 0;
	z-index: 1;
	width: 155px;
}
#main_nav-2 li a, #main_nav-2 li ul li a{
}
#main_nav-2 li a:hover,
#main_nav-2 li ul a:hover {
	color: black;
}

#main_nav-2 li:hover ul {
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: -109px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 15px 0;
}

.howitbox-n {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 315px;
    height: 452px;
}
.hwb-10::before {background: url('/img/appliances.png') no-repeat left top -15px;background-size: 100%;content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 315px;
    height: 452px;
z-index: 19;}
.hwb-1::before {
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 315px;
    height: 452px;
    background: url(/img/box-1.png) no-repeat left top -15px;
    background-size: 100%;
    z-index: 10;
}
.hwb-2::before {
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 315px;
    height: 452px;
    background: url(/img/box-2.png) no-repeat left top -15px;
    background-size: 100%;
    z-index: 10;
}
.hwb-3::before {
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 315px;
    height: 452px;
    background: url(/img/box-3.png) no-repeat left top -15px;
    background-size: 100%;
    z-index: 10;
}
.hwb-4::before {
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 315px;
    height: 452px;
    background: url(/img/box-4.png) no-repeat left top -15px;
    background-size: 100%;
    z-index: 10;
}
.hwb-5::before {
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 315px;
    height: 452px;
    background: url(/img/box-5.png) no-repeat left top -15px;
    background-size: 100%;
    z-index: 10;
}
.hwb-6::before {
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 315px;
    height: 452px;
    background: url(/img/box-6.png) no-repeat left top -15px;
    background-size: 100%;
    z-index: 10;
}
.hwb-7::before {
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 315px;
    height: 452px;
    background: url(/img/box-7.png) no-repeat left top -15px;
    background-size: 100%;
    z-index: 10;
}
.hwb-8::before {
	content: '';
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 315px;
    height: 452px;
    background: url(/img/box-8.png) no-repeat left top -15px;
    background-size: 100%;
    z-index: 10;
}

.c_howit-box__dot3 {
    top: 20px;
    left: 88px;
}
.c_howit-box__dot1 {top: 35px;}
.c_howit-box__dot2 {top: 58px;}
.c_howit-box__dot4 {top: 28px; left: 118px;}
.c_howit-box__dot6 {left: 35px;}
.c_howit-box__dot11 {top: 349px;}


canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 1000px;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}

.c_howit-box__dot1 {top: 28px; left: 118px;}
.c_howit-box__dot2 {top: 16px; left: 160px;}
.c_howit-box__dot3 {top: 42px; left: 160px;}
.c_howit-box__dot4 {top: 50px; left: 122px;}
.c_howit-box__dot5 {top: 268px; left: 222px;}
.c_howit-box__dot6 {}
.c_howit-box__dot7 {top: 33px; left: 222px;}
.c_howit-box__dot8 {top: 14px; left: 83px;}
.c_howit-box__dot9 {top: 50px; left: 138px;}
.c_howit-box__dot10 {top: 59px; left: 218px;}


.c_team-item__thumb img {width: 100%;}
#last-man.c_team-item::before {bottom: auto; top: 0;}
#last-man.c_team-item .c_team-item__thumb::before {content: ''; position: absolute; display: block; background-color: #38407f; top: -1px; left: 17px; opacity: .6; width: calc(100% - 34px); height: 3px; z-index: -1;}
#last-man .c_team-item__thumb::after {
    content: '';
    position: absolute;
    left: -2px;
    top: 17px;
    width: 3px;
    height: 466px;
    background-color: #38407f;
    opacity: .6;
}
.bg-world {
    background: url(/img/bg-world.png) no-repeat center;
    background-size: 100%;
}
.c_token table {margin-top: 40px;}
.c_press-item__thumb img{ background-size: contain; }
.c_press-item__thumb { display: flex; justify-content: center;align-items: center; background-color: #ffffff; padding: 15px;}
div.c_press-item {display: flex; align-items: center;}
.c_press-item {align-items: center; min-height: 200px;}
.owl-dots {text-align: center;}
.slaider-team .owl-dots button.owl-dot.active {width: 10px; height: 10px; background-color: #ffffff; border-radius: 10px; cursor: pointer;}
.slaider-team .owl-dots button.owl-dot {width: 10px; margin: 0 5px; height: 10px; background-color: rgba(255, 255, 255, 0.5); border-radius: 10px; cursor: pointer;}
.owl-dots {text-align: center;}
.slaider-solutions .owl-dots button.owl-dot.active {width: 10px; height: 10px; background-color: #ffffff; border-radius: 10px; cursor: pointer;}
.slaider-solutions .owl-dots button.owl-dot {width: 10px; margin: 0 5px; height: 10px; background-color: rgba(255, 255, 255, 0.5); border-radius: 10px; cursor: pointer;}

.slaider-2 .owl-dots button.owl-dot.active {width: 10px; height: 10px; background-color: #ffffff; border-radius: 10px; cursor: pointer;}
.slaider-2 .owl-dots button.owl-dot {width: 10px; margin: 0 5px; height: 10px; background-color: rgba(255, 255, 255, 0.5); border-radius: 10px; cursor: pointer;}
.slaider-2 .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}

.slaider-2 .owl-nav button.owl-next{
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -45px;
    top: 330px;
    bottom: 0;
}
.slaider-2 .owl-nav button.owl-next::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider-2 .owl-nav button.owl-prev{
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -45px;
    top: 330px;
    bottom: 0;
}
.slaider-2 .owl-nav button.owl-prev::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}



.slaider-documents .owl-nav button.owl-next{
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -45px;
    top: 330px;
    bottom: 0;
}
.slaider-documents .owl-nav button.owl-next::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider-documents .owl-nav button.owl-prev{
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -45px;
    top: 330px;
    bottom: 0;
}
.slaider-documents .owl-nav button.owl-prev::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.slaider-2 {width: 100%; max-width: 1050px; margin: auto; }
.slaider-solutions.owl-carousel, .slaider-documents.owl-carousel, .slaider-c_faq-list.owl-carousel, .slaider-c_sales-list.owl-carousel  {display: none;}

.slaider-team-list-2 .owl-nav button.owl-next{
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -45px;
    top: 250px;
    bottom: 0;
}
.slaider-team-list-2 .owl-nav button.owl-next::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider-team-list-2 .owl-nav button.owl-prev{
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -45px;
    top: 250px;
    bottom: 0;
}
.slaider-team-list-2 .owl-nav button.owl-prev::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider-c_faq-list { display: none; }

.slaider-c_faq-list .owl-nav button.owl-next{
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -45px;
    top: 250px;
    bottom: 0;
}
.slaider-c_faq-list .owl-nav button.owl-next::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider-c_faq-list .owl-nav button.owl-prev{
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -45px;
    top: 250px;
    bottom: 0;
}
.slaider-c_faq-list .owl-nav button.owl-prev::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


.slaider-c_sales-list {display: none;}

.slaider-c_sales-list .owl-nav button.owl-next{
    transform: rotate(-135deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -45px;
    top: 250px;
    bottom: 0;
}
.slaider-c_sales-list .owl-nav button.owl-next::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slaider-c_sales-list .owl-nav button.owl-prev{
    transform: rotate(45deg);
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -45px;
    top: 250px;
    bottom: 0;
}
.slaider-c_sales-list .owl-nav button.owl-prev::after{
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.d-non-md {display: flex; padding-top: 80px; flex-wrap: wrap; justify-content: center;}
.slaider-2-2.owl-carousel {display: none;}
.slaider-solutions.owl-carousel {display: none;}
.c_faq-list-open {display: none;}
.d-none {opacity: 1; width: 589px; height: 520px; }
.c_press-item__info a {outline: none;}



.animated-modal {
  max-width: 744px;
  border-radius: 4px;
  overflow: hidden;
  
  transform: translateY(-50px);
  transition: all .7s;
}

.animated-modal h2,
.animated-modal p {
  transform: translateY(-50px);
  opacity: 0;
  
  transition-property: transform, opacity;
  transition-duration: .4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
  transform: translateY(0);
  opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
  transition-delay: .1s;
}

.fancybox-slide--current .animated-modal p {
  transition-delay: .3s;
}
.all_questions {
    margin: 10px 0;
}
.all_questions_head{
    padding: 15px 100px 15px 60px;
    background-color: #245ae0;
    position: relative;
    cursor: pointer;
    transition: .5s;
}
.all_questions_head.bg-color {
    background-color: rgb(65, 58, 138);
}
.all_questions_body {
    max-height: 0;
    padding: 0 100px 0 60px;
    overflow: hidden;
    color: rgb(102, 102, 102);
    font-size: 16px;
    line-height: 24px;
    transition: .3s;
}
.all_questions.active .all_questions_body {
    max-height: 100%;
    padding: 15px 100px 5px 60px;
}

.all_questions_head::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: .5s;
}
.all_questions.active .all_questions_head::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: 2px solid #ffffff;
    border-radius: 0; 
}
.all_questions_head:hover {
    opacity: .7;
}
.all_questions_head::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 50px;
    width: 15px;
    height: 15px;
    opacity: 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: transparent;
    transform: rotate(45deg);
    transition: .5s;
}
.all_questions_head:hover::after {
    opacity: 1;
}

.all_questions.active .all_questions_head::after {
    top: 22px;
    opacity: 1;
    border-bottom: none;
    border-right: none;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.animated-modal h2{
  font-size: 34px;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: left;
  margin-bottom: 35px;
  line-height: 1.7;
  position: relative;
}
.animated-modal h2::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 2px;
    background-color: rgb(208, 125, 5);
    left: 0;
    bottom: 0;
}


.txt-icons {
    position: absolute;
    opacity: 0;
    transition: .7s;
}
.icon:hover {
    background-color: #171c44;
    color: #ffffff;
    border-radius: 2px; 
}
.icon:hover .img-icons {
    margin: 5px auto;
    opacity: 0;
}
.icon:hover .img-icons p, .icon:hover .txt-icons p {
    color: #ffffff;
    padding: 25px;
}
.icon:hover .txt-icons {
    margin: 5px auto;
    opacity: 1;
}
.img-icons img{
    max-width: 60px;
    max-height: 80px;
    width: 100%;
}
.img-icons.first-child img{
    max-width: 45px;
}
.icon {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    cursor: pointer;
    height: 325px;
    transition: .7s;
}
.img-icons {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 45px auto 20px;
    transition: all .3s ease-in;
}
.img-icons p {
    margin: 15px;
    transition: .7s;
}
.txt-icons p {
    padding: 25px;
}
.wrap-icons {
    display: flex;
    justify-content: space-around;
}
.c_solution-list {
    padding-top: 0;
}
.d-non-md {
    padding-top: 0;
}
.w-100 {
    width: 100%;
    margin: auto;
    text-align: center;
}
.zag {
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
}
.c_howit, .c_tech {
    padding: 0;
}
.c_tech {
    padding-top: 60px;
}
.c_company {
    padding-top: 60px;
}
.video-cnt {
    text-align: center;
    margin: 60px auto;
    max-width: 760px;
}
.zag-h {
    color: #ffffff;
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0 40px;
}
.c_company p {
    line-height: 1.5;
    font-size: 16px;
    margin: 15px 0;
    text-align: center;
}
.c_structure-list p{
    width: 25%;
    margin: 5px 0;
}
.c_structure-graf {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 549px;
    height: 549px;
    background: url(/img/emission.png) no-repeat;
    background-size: contain;
}
.c_roadmap-box {width: 100%;}
.wrap-questions p{
    color: #000000;
}
.wrap-questions a{
    display: block;
    width: 220px;
    height: 45px;
    background-color: #d07d05;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 9px;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 30px;
}
.wrap-questions ul {
    margin-top: 15px;
    padding-left: 50px;
    color: #000;
}

.countdown-section {
    display: inline-block;
    font-size: 14px;
    color: rgb(255, 255, 255);
    position: relative;
}

.countdown-amount {
    font-size: 42px;
    font-weight: bold;
}
.countdown-section:before {
    content: ':';
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    font-size: 42px;
}
.countdown-section:first-child:before {display: none;}
.ratings {display: flex; flex-direction: column; align-items: center; justify-content: center;}
.rat-1 {display: flex; justify-content: space-around; align-items: center;}
.widgets a{text-decoration: none;}
.rat-1 p{margin-right: 7px;}
.wrap-popup-2 .c_faq-btn {margin-left: 0; margin-top: 30px;}
.wrap-popup-2 p{
    color: #000;
}
.wrap-popup-2 a {
    color: blue;
}
.f_mark .c_faq-btn {margin-top: 15px;}
.c_document-item__lang a{
    text-decoration: none;
    border-bottom: none;
    color: #a9a9a9;
}
.c_document-item__lang a:first-child{
    color: #ffffff;
}
.item-point {display: none;}
.item-point.active {display: block;}

.h_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: .5s;
    
}
.m_box.header {
    padding-top: 60px;
}
.h_top.fix-header {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    background-color: rgb(23, 28, 68);
    width: 100%;
    max-width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
    transition: .5s;
}
.wrap-header {
    width: 100%;
    max-width: 1220px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: .5s;
}


#toTop {
    width: 50px;
    height: 50px;
    border: 3px solid #4b4078;
    background: rgb(23, 28, 68);
    text-align: center;
    padding: 11px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    display: none;
    color: #ffffff;
    z-index: 99999999;
    border-radius: 50%;
}

#toTop::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 2px solid #c5c7d0;
    border-bottom: 2px solid #c5c7d0;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 9px;
    bottom: 0;
    margin: auto;
    transform: rotate(135deg);
}